
.user-title{
    font-family: 'Arial Unicode MS';
    font-size: 27px;
    color: #060505;
}
.addmember-btn{
    font-family: 'Arial Unicode MS';
    font-weight: 900;
    font-size: 16px;
    /* width: 165px; */
    height: 40px;
    border-radius: 6px;
    color: #000000;
    border: 1px solid #D9D9D9;
    background-color: transparent;
    gap: 0;
}
.table>thead>tr>th {
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    vertical-align: bottom;
    border-bottom: 2px solid rgba(221, 221, 221, 0)!important;
}   
.table>tbody>tr>td {
    font-weight: 400;
    color: #000000;
    font-size: 15px;
}   

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #F7F9F9;
}
.table-check:focus{
    border-color: none !important;
    box-shadow: none;
}
.table-check:checked{
    background-color: #afb6ca;
    border: none;
}
.table-check:not(:checked){
    background-color: #afb6ca;
    border: none;
}
.table-check:checked:focus{
    outline: none;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: none;
}

.dropdown-teams{
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0px 25px 0 0;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../../Images/chevron_down.svg");
    background-position: calc(100% - 3px) center;
    box-sizing: content-box;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------
                                        media Quary
--------------------------------------------------------------------------------------------------- */

@media screen and  (max-width: 480px){
   

}
/* Styles for screens with a width between 481px and 768px */
@media screen and (min-width: 481px) and (max-width: 767px) {
   
}

/* Styles for screens with a width between 769px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mainper{
        overflow-x: scroll;
    }
}

/* Styles for screens with a width between 1025px and 1440px */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
   
}

/* Styles for screens with a width of 1441px or higher */
@media screen and (min-width: 1441px) {
   
}