.day-event-box {
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 8px;
}

.day-event-header {
  display: flex;
  padding-left: 8px;
  justify-content: space-between;
}

.day-event-body {
  padding-top: 12px;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  flex-direction: column;
}

.add-event-btn {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-transform: unset;
}

.add-event-container {
  width: 500px;
  padding: 30px 48px;
}

.underlined span:last-child {
  flex: 1;
  border-bottom: 1px solid #BAB7B7;
  line-height: 36px;
}

.btn-gray {
  background-color: rgb(229 231 235);
}

.btn-gray:hover {
  background-color: rgb(209 213 219);
}

.border-b-gray {
  border-bottom: 1px solid #949494;
}

.lh-32px {
  line-height: 32px !important;
}
