@import './colors/colors.css';

.error-message span {
  color: red !important;
}

.error-message span.green {
  color: green !important;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  height: 100vh !important;
}

.pt-36px {
  padding-top: 36px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mr-8px {
  margin-right: 8px !important;
}

.mt-16px {
  margin-top: 16px !important;
}

:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-light-gray {
  background-color: #eeeeee !important;
}

.lh-42px {
  line-height: 42px !important;
}

.align-center {
  align-items: center;
}

.ml-8px {
  margin-left: 8px !important;
}

.text-unset {
  text-transform: unset !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.mx-m-9px {
  margin-left: -9px !important;
  margin-right: -9px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mx-m-8px {
  margin-left: -8px !important;
  margin-right: -8px !important;
}

.py-8px {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.mt-8px {
  margin-top: 8px !important;
}

.mr-6px {
  margin-right: 6px !important;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.modal-opacity {
  /* opacity: 1; */
  z-index: 1;
  /* transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  -webkit-tap-highlight-color: transparent;
}

.h-100 > .MuiCollapse-wrapper {
  height: 100%;
}

.min-w-400px {
  min-width: 400px !important;
}

.flex-row {
  flex-direction: row !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}
