@import "./colors/colors.css";


.error-message span {
    color: red !important;
}

.error-message span.green {
    color: green !important;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.h-100vh {
  height: 100vh !important;
}

.pt-36px {
  padding-top: 36px !important;
}